.gradient-background {
  background: linear-gradient(220deg, #f3ff4e, #31a3ff, #ff1111);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  color: white;
}

h1{

}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.display-pic{
    border-radius: 50%;
}